/* fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    font-size: 62.5%;
}
:root {
    --header-text-size: 1.6rem;
}
@media (max-width: 800px) {
    :root {
        --header-text-size: 1.2rem;
    }
}
/* HEADER */
.header {
    background: rgb(255,255,255);
    background: linear-gradient(86deg, rgba(255,255,255,1) 0%, rgba(203,203,203,1) 58%, rgba(112,112,112,1) 100%);
}
.img-logo {
    width: 60px;
}
/* MAIN */
.main {
    background-color: aquamarine;
    height: 500px;
    width: 100vw;
}
.image-gallery {
    display: flex;
}
.box {
    background-color: grey;
}
/*FOOTER*/
.footer {
    background-color: bisque;
    height: 100px;
    width: 100vw;
}